/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BACKGROUND */
.register {
  height: 100vh;
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)); */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM CONTAINER */
.container {
  width: 100%;
  max-width: 400px;
}

/* FORM */
.register-form {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* TITLE */
.register-form h2 {
  margin-bottom: 20px;
}

/* INPUTS */
.register-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* BUTTON */
.register-form button {
  width: 100%;
  padding: 10px;
  background: #f4a261;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-form button:hover {
  background: #e76f51;
}

/* TEXT */
.register-form p {
  margin-top: 15px;
  font-size: 14px;
}

.register-form a {
  color: #f4a261;
  text-decoration: none;
}